results/*
!results/.gitkeep
thesis_datasets/*
!thesis_datasets/.gitkeep
original_datasets/1_min_SPY_2008-2021.csv
financial_indicators_full.csv
financial_indicators_daily.csv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
.git
.mypy_cache
.pytest_cache
.hypothesis
*.egg-info/
dist/
build/
